extends ./layout/index
block contenidoLayout
    .container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae iure sapiente commodi officia adipisci! Tempora, et explicabo praesentium adipisci, deleniti eius laudantium, sunt amet laboriosam dolorem numquam accusamus ratione libero.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus pariatur, sed, perferendis odio nam nesciunt iusto, dolorem molestiae culpa temporibus quisquam veritatis cupiditate minus quasi exercitationem? Quisquam corrupti ipsum voluptatem.
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae optio quos delectus numquam, facilis eius! Esse officia harum ut error, modi velit facere doloribus, ea perferendis beatae minima obcaecati fugit?
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 La mejor seguridad
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde voluptatum amet architecto dignissimos consectetur eum quos omnis reprehenderit veniam, quod perferendis, minima eaque doloribus saepe ad? Aspernatur excepturi facilis iusto.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde voluptatum amet architecto dignissimos consectetur eum quos omnis reprehenderit veniam, quod perferendis, minima eaque doloribus saepe ad? Aspernatur excepturi facilis iusto.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Los mejores destinos
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde voluptatum amet architecto dignissimos consectetur eum quos omnis reprehenderit veniam, quod perferendis, minima eaque doloribus saepe ad? Aspernatur excepturi facilis iusto.